---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About Me';

const identity = {
	firstName: "Evan",
	country: "the US",
	occupation: "Software Engineer",
	hobbies: ["guitar","custom keyboards","hiking"]
};

const skills = ["C#/.NET", "Python", "MSSQL", "HTML/CSS", "Astro", "Learning Rust!"];

const happy: boolean = true;
const finished: boolean = true;
const goal: number = 3;
---
<BaseLayout pageTitle={pageTitle}>
		<h2>... and my new Astro site!</h2>

		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 3 && 
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[2]}.</li>
			}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
		{happy && <p>I am happy to be learning Astro!</p>}
		{finished && <p>I finished this tutorial!</p>}
		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>
